.container > .jumbotron > .nav > .active > a,
.container > .jumbotron > .nav > .active > a:hover {
  background-color: black;
  font-size: 1.5em;
  color: white;
}
.container > .jumbotron > .nav > li > a {
  font-size: 1.5em;
  color: black;
}
.navbar > .container-fluid > .navbar-header > .navbar-brand {
  color: white;
}
.footer-bottom {
  background-color: black;
	color: white;
}
.footer-bottom > .container > #year {
	float: right;
}